[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
webcolors = "*"
scipy = "*"
scikit-image = "*"
matplotlib = "*"
opencv-contrib-python = "*"

[dev-packages]
